name: Airchannel Build & Release

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      
      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Build AppBundle
        run: flutter build appbundle --release

      # CAMBIO AQUÍ: Usamos un comodín para asegurar que capture los archivos
      # y forzamos que se suban incluso si hay advertencias.
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: airchannel-release-files
          path: |
            build/app/outputs/flutter-apk/*.apk
            build/app/outputs/bundle/release/*.aab
          if-no-files-found: error # Si no encuentra los archivos, te avisará por qué